Source: kazoo
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Neil Williams <neil@spladug.net>, Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 10),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools,
               python-gevent,
Standards-Version: 3.9.6
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-kazoo?h=debian%2Fnewton
Vcs-Git: https://git.openstack.org/openstack/deb-kazoo -b debian/newton
Homepage: https://kazoo.readthedocs.org

Package: python-kazoo
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Suggests: python-kazoo-doc
Description: higher level API to Apache Zookeeper (Python 2)
 Kazoo features:
 .
  * A wide range of recipe implementations, like Lock, Election or Queue
  * Data and Children Watchers
  * Simplified Zookeeper connection state tracking
  * Unified asynchronous API for use with greenlets or threads
  * Support for gevent 0.13 and gevent 1.0
  * Support for Zookeeper 3.3 and 3.4 servers
  * Integrated testing helpers for Zookeeper clusters
  * Pure-Python based implementation of the wire protocol, avoiding all the
    memory leaks, lacking features, and debugging madness of the C library
 .
 Kazoo is heavily inspired by Netflix Curator simplifications and helpers.
 .
 This is the Python 2 version of the package.

Package: python3-kazoo
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python-kazoo-doc
Description: higher level API to Apache Zookeeper (Python 3)
 Kazoo features:
 .
  * A wide range of recipe implementations, like Lock, Election or Queue
  * Data and Children Watchers
  * Simplified Zookeeper connection state tracking
  * Unified asynchronous API for use with greenlets or threads
  * Support for gevent 0.13 and gevent 1.0
  * Support for Zookeeper 3.3 and 3.4 servers
  * Integrated testing helpers for Zookeeper clusters
  * Pure-Python based implementation of the wire protocol, avoiding all the
    memory leaks, lacking features, and debugging madness of the C library
 .
 Kazoo is heavily inspired by Netflix Curator simplifications and helpers.
 .
 This is the Python 3 version of the package.
